@import 'vars';

// reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
}

// rule: to vertically space things, only add TOP margins

.overlay {
    position: relative;
    transition: all 1s;
}

.overlay:after {
    content: '\A';
    position: absolute;
    width: 100%; 
    height:100%;
    top:0; 
    left:0;
    background:rgba(0,0,0,0.5);
    opacity: 1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.overlay:hover:after {
    opacity: 0;
}


body {
    width: 80vw;
    margin: auto;
    margin-bottom: 5em;
}

.black { background-color: #555555 !important}
.red { background-color: #de5460 !important }
.blue { background-color: #4185f2 !important }
.green { background-color: #60b389 !important }
.purple { background-color: #8d64de !important }
.orange { background-color: #eb8e54 !important }
.yellow { background-color: #f2c23f !important }


// * {
//     transition: all 1s ease;
// }

#theme  {
    position: fixed;
    top: 0;
    left: 2rem;
    display: flex;
    justify-content: flex-start;
    margin-top: $section-spacing;
    transition: all .5s ease;

    div {
        width: 35px;
        height: 35px;
        margin: 0 .25rem;
        border-radius: 50%;
        transition: all .25s ease-out;

        &:hover {
            transform: scale(1.2);
        }
    }

    // .add {
    //     border: 0;
    //     outline: none;
    //     width: 35px;
    //     height: 35px;
    //     font-size: 2rem;
    //     background-color: #ddd;
    //     border-radius: 50%;
    //     color: white;
    // }
}

h1 {
    color: $primary;
    margin-top: $section-spacing;
    font-size: 2rem;
    margin-bottom: $section-spacing / 4;
}

#first-heading {
    margin-top: $section-spacing / 2   
}

h2 {
    color: $secondary;
}

p {
    color: $secondary;
    line-height: 2rem;
}

.me {
    width: 350px;
    height: 350px;
    background-size: cover;
    transition: transform .25s ease, opacity .25s ease;
    
    &#real {
        background-image: url('../img/real.png');
        opacity: 0;
        margin: $section-spacing auto 0 auto;
        &:active { transform: rotate(5deg) }
    }

    &#vector {
        background-image: url('../img/vec-t2.png');
        background-color: $primary;
        border-radius: 50%;
        // transition: all .5s ease;
        &:hover {
            cursor: pointer;
            animation: pulse2 1s ease;
        }


        &:active { transform: rotate(-5deg) }
    }
}

#social {
    margin: 1rem auto 0 auto;
    display: flex;
    justify-content: center;

    img {
       height: 35px;
       width: 35px;
       margin: 0 .4rem;
       opacity: .8;
       transition: all .3s ease;
       border-radius: 50%;

        &:hover {
            background: #000;
            // border: 10px solid;
            animation: pulse 1s ease;
       }
   }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 1rem;
    cursor: pointer;
    margin: auto;
    width: auto;
    margin: auto;

    .entry {
        // border-radius: 2.5%;
        overflow: hidden;
        position: relative;

        &:hover {
            img {
                filter: brightness(.5);
                transform: scale(1.1);
            }
        }

        img {
            transition: all .5s ease;
            // transform: scale(1.5);
            width: 100%; 
        }

        .description {
            transition: all .5s ease;
            position: absolute;
            top: 0;
            left: 0;
            padding: 20px;
            width: 100%;

            h2, p {
                color: #fff;
                text-align: center;
            }

            p {
                height: 0;
                opacity: 0;
                color: #bbb;
                transition: opacity .5s ease;
            }

            div {
                text-align: center;
                color: #fff;
                opacity: 0;
                transition: all .5s ease;

                img {
                    // why is the image low opacity
                    width: 20px;
                    margin-right: .5rem;
                }
            }
        }
    }

    .design-entry {
        .description {
            opacity: 0;
        }
    }
}

@include md-screen() {
    // * {
    //     border: 1px solid red;
    // }
    #theme {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        // margin-top: $section-spacing / 2;
    }

    #real, #theme {
        margin-top: $section-spacing / 2 !important;
    }
}



// #programming {
//     background: #444;
// }

// #design {
//     background: #555;
// }

// #programming, #design {
//     h1 {
//         margin-bottom: 25px;
//     }
// }

// #school {
//     display: flex;
//     padding: 0;

//     .course-list {
//         text-align: center;
//         padding: 100px;
//         width: 50%;

//         img {
//             width: 100px;
//             margin-bottom: 20px;
//             // transition: all .5s ease;


//             &:hover {
//                 // transform: rotate(180deg);
//                 animation: spaceboots 2s ease infinite;
//             }
//         }

//         ul {
//             list-style-type: none;
//         }
//     }

//     #uw {
//         background: #8e378e;
//         padding-left: 200px;
//     }

//     #cwu {
//         background: #e04e4e;
//         padding-right: 200px;
//     }

//     @include sm-screen() {
//         flex-direction: column;

//         .course-list {
//             width: 100%;
//             padding: 50px 200px;
//         }

//         // .cour
//     }
// }

// #contact {
//     background: #666;
//     padding: 50px 30%;

//     div {
//         width: 100%;
//         display: flex;
//         justify-content: space-between;
//         margin-bottom: 10px;

//         input {
//             width: calc(50% - 5px);
//             // margin: 10px;
//         }
//     }

//     input, textarea {
//         border: 0;
//         border-radius: 5px;
//         outline: none;
//         padding: 10px;
//         color: #000;
//         width: 100%;
//         font-size: 1rem;
//     }

//     @include md-screen() {
//         padding: 50px 20%;
//     }

//     @include sm-screen() {
//         padding: 50px 10%;
//     }
// }

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 rgba(#000, .15) }
  100% { box-shadow: 0 0 0 60px rgba(#000, 0) }
}

@keyframes pulse2 {
  0% { box-shadow: 0 0 0 0 rgba(#000, .05) }
  100% { box-shadow: 0 0 0 60px rgba(#000, 0) }
}